{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{{ asset('assets/css/login.css')}}">
{% endblock %}

{% block body %}
<form method="post">
    {% if error %}
        <div class="erreur">Mot de passe ou nom d'utilisateur incorrect</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}

    <h1 class="titre">Entrez vos identifiants</h1>

    <div class="inputs_login">
        <label for="inputUsername" class="label_username">Nom d'utilisateur</label>
        <input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="input_username" autocomplete="username" required autofocus>
        <label for="inputPassword" class="label_password">Mot de passe</label>
        <input type="password" name="password" id="inputPassword" class="input_password" autocomplete="current-password" required>
    </div>

    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    >

    <div class="checkbox mb-3">
        <label>
            <input type="checkbox" name="_remember_me" class="input_checkbox"> Se souvenir de moi.
        </label>
    </div>

    <button class="btn_submit" type="submit">
        Se connecter
    </button>
</form>
{% endblock %}
