{% extends 'base.html.twig' %}

{% block title %}Liste des Adhérant{% endblock %}

        {% block css %}
            <link rel="stylesheet" href="{{ asset('assets/css/tableaux.css')}}">
        {% endblock %}


{% block body %}
<nav class="navbar">
    <ul class="ul_navbar">
        <li class="li_navbar">
            Vous êtes connecté en tant que : {{ app.user.username }}
        </li>
        {% if is_granted("ROLE_ADMIN") %}
            <li class="li_navbar">
                <a href="/admin">Console d'administration</a>
            </li>
        {% endif %}
        <li class="li_navbar">
            <a href="/logout">Se déconnecter</a>
        </li>
    </ul>
</nav>

    <div class="totaux">
        <h2>Nombre de personne enregistrées : {{total_adherents}}</h2>
        <h2 class="total_pos">Nombre de personnes enregistrées depuis moins d'un an : {{ adherantsLessThanOneYear|length }}</h2>
        <h2>Nombre de personnes enregistrées depuis plus d'un an : {{ adherantsMoreThanOneYear|length }}</h2>
    </div>

    {{ form(form) }}
    <a href="{{ path('adherants') }}" class="all">Remise à zéro</a>
    <div class="tableaux_container">

            <table class="myTable">
                <caption>Adhérants valides</caption>
                <thead>
                    <tr>
                        <th scope="col">Nom</th>
                        <th scope="col">Prénom</th>
                        <th scope="col">Ville</th>
                        <th scope="col">Code postal</th>
                        <th scope="col">Date adhésion</th>
                        <th scope="col">Lieu de l'adhésion</th>
                    </tr>
                </thead>
                {% for adherant in adherants %}
                    {% set startDate = adherant.dateAdhesion %} <!-- On récupère la valeur de la date d'adhésion -->
                    {% set difference = date( 'now' | date() ).diff(date(startDate)).days %}<!-- On compare la date actuelle avec la valeur de startDate, pour obtenir soit une valeur < 365 soit > 365 -->
                    <tbody class="tbody_table">
                    {% if difference <= 365 %}
                        <tr class="row_positive">
                            <td>{{ adherant.nom | upper }}</td>
                            <td>{{ adherant.prenom | upper }}</td>
                            <td>{{ adherant.ville }}</td>
                            <td>{{ adherant.codePostal }}</td>
                            <td>{{ adherant.dateAdhesion | date("d/m/Y")}}</td>
                            <td>{{ adherant.site }}</td>
                        </tr>
                    {% endif %}
                    </tbody>
                {% endfor %}
            </table>

        <table class="myTable2">
            <caption>Adhérants non-valides</caption>
            <thead>
                <tr>
                    <th scope="col">Nom</th>
                    <th scope="col">Prénom</th>
                    <th scope="col">Ville</th>
                    <th scope="col">Code postal</th>
                    <th scope="col">Date adhésion</th>
                    <th scope="col">Lieu de l'adhésion</th>
                </tr>
            </thead>
            {% for adherant in adherants %}
                {% set startDate = adherant.dateAdhesion %} <!-- On récupère la valeur de la date d'adhésion -->
                {% set difference = date( 'now' | date() ).diff(date(startDate)).days %}<!-- On compare la date actuelle avec la valeur de startDate, pour obtenir soit une valeur < 1 soit > 1 -->
                {% set years = difference|number_format(0) %} <!-- Ici, on fait la conversion de la date qui est un string en integer, pour pouvoir l'utiliser dans une condition if -->
                    <tbody class="tbody_table2">
                        {% if years > 365 %}
                            <tr class="row_negative">
                                <td>{{ adherant.nom | upper }}</td>
                                <td>{{ adherant.prenom | upper }}</td>
                                <td>{{ adherant.ville }}</td>
                                <td>{{ adherant.codePostal }}</td>
                                <td>{{ adherant.dateAdhesion | date("d/m/Y")}}</td>
                                <td>{{ adherant.site }}</td>
                            </tr>
                        {% endif %}
                    </tbody>
            {% endfor %}
        </table>



    </div>

{% endblock %}
